*{
	padding:0;
	margin:0;
}
#princing{
	background-color:#F5F5F5;
}
#princing_title, #pricing_text_comment{
.global_title{
	text-align:center;
	font-size:40px;
}
.global_text_comment{
	text-align:center;
	color:grey;
	font-size:18px;
	margin-top:50px;
	margin-bottom:100px;
}
#pricing_hr{
	margin-bottom:40px;
	border:solid 2px #FF8B38;
.global_hr{
	margin:auto;
	margin-top:50px;
	margin-bottom:30px;
	border:solid 1.5px #FF8B38;
	background-color:#FF8B38;
	width:100px;
	width:75px;
	padding:auto;
}
#princing_columns{
	margin-top:75px;
	display:flex;
	flex-direction:rows;
	justify-content:space-evenly;	
	justify-content:space-around;	
	
}
#pricing_column1,#pricing_column2,#pricing_column3{
	display:flex;
	flex-direction:column;
	width:22%;
}
#pricing_column2{
	margin-top:-20px;
}
.princing_cat{
	display:flex;
	justify-content:space-around;
	align-items: center;
	color:#FFFFFF;
	height:50px;
	background-color:#333333;
	border-bottom:solid 1px #fff;
	text-align:center;
	font-weight:bold;
}
.price{
	border-top:solid 20px #333333;
	background-color:#333333;
	color:#FFFFFF;
	height:120px;
	text-align:center;
	border-bottom:solid 5px #FF8B38;
	font-weight:bolder;
}
.price_number{
	font-size:64px;
}
#pricing_most_pop{
	text-align:center;
	color:white;
	font-weight:bold;
	border-bottom:solid 5px #FF8B38;
	background-color:#FF8B38;
}
.pricing_features {
	display:flex;
	height:30px;
	justify-content:space-around;
	align-items: center;
	border-bottom:solid 1px #AAABAE;
	text-align:center;
	color:#AAABAE;
	background-color:white;
	padding-left:15px;
	padding-right:15px;

}
#pricing_features_spe{
	border-bottom:solid 1px #AAABAE;
	text-align:center;
	color:#AAABAE;
	background-color:white;
	display:flex;
	height:30px;
	justify-content:space-around;
	align-items: center;
}
.comment_price{
	color: #7A7A7A;
	font-style:italic;
}