*{
    padding: 0;
    margin: 0;
}

a:link{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:visited{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* ----------------------------------------------Barre de Navigation---------------------------------------------- */

.navbar{
    display: flex;
    justify-content: flex-end;

    height: 85px;
    background-color: black;

    border-bottom: solid 2px rgb(165, 165, 165);
}

.logo{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: 8%;

    font-size: 50px;
    font-weight: bold;
    font-family: 'nav';
    color: white;
}

span.logo{
    margin-left: 5px;

    font-size: 51px;
    font-weight: lighter;
    font-family: 'text';
    color: #FF8B38;
}

.navbar a{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 55px;
}

.features{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'nav';
    color: rgb(165, 165, 165);
}

.features:hover{
    color: white;
}

.about{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'nav';
    color: rgb(165, 165, 165);
}

.about:hover{
    color: white;
}

.pricing{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'nav';
    color: rgb(165, 165, 165);
}

.pricing:hover{
    color: white;
}

.reviews{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'nav';
    color: rgb(165, 165, 165);
}

.reviews:hover{
    color: white;
}

.contact{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'nav';
    color: rgb(165, 165, 165);
}

.contact:hover{
    color: white;
}

/* ----------------------------------------------Première section: HOME---------------------------------------------- */

#home{
    height: 45vw;
    
}
.home_backgroud{
    display: flex;
    justify-content: space-around;

    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;

    background-image: url(../images/page1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    z-index: -10; 
}

.left{
    margin-top: auto;
    margin-bottom: auto;
}

.left h1{
    font-size: 125px;
    font-weight: bold;
    font-family: 'nav';
    color: white;
}

span.logo2{
    margin-left: 5px;

    font-size: 126px;
    font-weight: lighter;
    font-family: 'text';
    color: #FF8B38;
}

.left h3{
    width: 620px;
    margin-top: 10px;

    font-size: 50px;
    letter-spacing: 1px;
    font-weight: lighter;
    font-family: 'nav';
    color: white;
}

.left hr{
    width: 11%;
    height: 2px;
    border: 0px;
    margin-top: 35px;
    margin-bottom: 35px;

    background-color: white;
}

.left p{
    width: 90%;
    height: 80px;
    margin-bottom: 35px;

    font-size: 22px;
    line-height: 25px;
    font-weight: lighter;
    font-family: 'nav';
    color: rgb(165, 165, 165);
}

button.download{
    width: 32%;
    height: 50px;

    font-size: 22px;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: 'nav';
    color: white;

    border: solid 2px white;
    background-color: rgba(255, 255, 255, 0);
}

button.download:hover{
    background-color: white;
    color: black;
}

.right{
    height: 450px;
    width: 450px;
    margin-top: auto;
    margin-bottom: auto;

    background-color: rgba(255, 255, 255, 1);
}

form.connexion{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.boite_h2{
    height: 60px;

    background-color: rgb(243, 243, 243);
    border-bottom: solid 1px rgb(172, 172, 172);

}

.boite_h2 h2{
    padding-top: 15px;

    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: rgb(57, 57, 57);
}

h2 span.free{
    color: #FF8B38;
    font-weight: bold;
}

form.connexion input{
    width: 80%;
    height: 50px;
    margin-left: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
    border: none;

    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(134, 134, 134);
}

form.connexion input:focus{
    outline: none;
    border: solid 2px #FF8B38;

    z-index: 2;
}

input.name{
    margin-top: 30px;
}

input.mail{
    margin-top: 35px;
}

input.password{
    margin-top: 35px;
}

form.connexion hr {
    width: 382px;
    margin-top: -32px;
    margin-left: 30px;


    color: rgba(202, 202, 202, 0.712);
}

button.Get{
    height: 70px;
    margin-top: 69px;

    border: none;

    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: white;

    background-color: #FF8B38 ;
}

button.Get:hover{
    background-color: #fd9c57;
}

button.Get:active{
    background-color: #FF8B38;
}

/* ----------------------------------------------Entre section: Social Media---------------------------------------------- */

.social_home{
    display: flex;
    justify-content: space-around;
    height: 125px;
    border-bottom: solid 2px rgb(134, 134, 134);
}

.social_left{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 100px;

    font-family: 'Montserrat', sans-serif;
}

.social_left h1{
    font-size: 25px;
    color: rgb(57, 57, 57);
}

.social_left p{
    margin-top: 8px;

    font-size: 14px;
    line-height: 20px;
    color: rgb(153, 153, 153);
}

.social_right{
    margin-top: auto;
    margin-bottom: auto;
}

.social_right a{
    margin-right: 100px;

    font-size: 45px;
    color: rgb(165, 165, 165);
}

/* ----------------------------------------------Deuxième section: About---------------------------------------------- */






/* ---------------------------------------- WHY THIS IS AWESOME --------------------------------------------------------------- */
#bottom{
	display:flex;
	direction:row;
	margin-left:5%;
}
.cercle{
	height: 30px;
	width: 30px;
	border:solid 2px #FF8B38;
	background-color:transparent;
	border-radius: 50%;
	display: inline-flex;
	align-items: center; 
	justify-content: center;
	margin-left:49%;
	margin-top:-15px;
	transform: scale(2);
}
.fa-bolt,.fa-keyboard,.fa-lightbulb{
	color:#FF8B38;
}
#section_about4 .global_title{
	margin-top:20px;
}
@media (max-width: 900px) {
	#bottom{
		flex-direction:column;
	}
	.cercle{
		margin-left:49%;
	}
}

/* -------------------------------------------- PRINCING TAB ------------------------------------------------------------------- */
#princing {
  background-color: #f5f5f5;
  border-top: solid 80px #f5f5f5f5;
}
.global_title {
  text-align: center;
  font-size: 40px;
}
.global_text_comment {
  text-align: center;
  color: grey;
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 100px;
}
.global_hr {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  border: solid 1.5px #ff8b38;
  background-color: #ff8b38;
  width: 75px;
  padding: auto;
}
#princing_columns {
  margin-top: 75px;
  display: flex;
  flex-direction: rows;
  justify-content: space-around;
}
#pricing_column1,
#pricing_column2,
#pricing_column3 {
  display: flex;
  flex-direction: column;
  width: 300px;
}
#pricing_column2 {
  margin-top: -20px;
}

.princing_cat {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
  height: 50px;
  background-color: #333333;
  border-bottom: solid 1px #fff;
  font-weight: bold;
}
.price {
  border-top: solid 20px #333333;
  background-color: #333333;
  color: #ffffff;
  height: 120px;
  text-align: center;
  border-bottom: solid 5px #ff8b38;
  font-weight: bolder;
}
.price_number {
  font-size: 64px;
}
#pricing_most_pop {
  text-align: center;
  color: white;
  font-weight: bold;
  border-bottom: solid 5px #ff8b38;
  background-color: #ff8b38;
}
.pricing_features {
  display: flex;
  height: 30px;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid 1px #aaabae;
  text-align: center;
  color: #aaabae;
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
}
#pricing_features_spe {
  border-bottom: solid 1px #aaabae;
  text-align: center;
  color: #aaabae;
  background-color: white;
  display: flex;
  height: 30px;
  justify-content: space-around;
  align-items: center;
}
.comment_price {
  color: #7a7a7a;
  font-style: italic;
}

.testi_bubble_and_text {
  background: #139ee0;
  color: #fff;
  padding: 7px 15px;
  border-radius: 3px;
  width: 250px;
}

.testi_bubble_and_text::after {
  content: "";
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #139ee0;
  position: absolute;
}
#testimonials_tab {
  background-color: #fff;
  border-top: solid 80px #fff;
  margin-top: 80px;
  margin-bottom: 150px;
}

#testi_flex_rows {
  display: flex;
  justify-content: space-around;
}
.testi_name {
  color: #101010;
  font-weight: bold;
  font-size: 30px;
  padding-left: 90px;
  margin-top: -50px;
}
.testi_job {
  padding-left: 95px;
  font-weight: lighter;
  color: grey;
}
.testi_avatar {
  margin-top: 20px;
}
#triangle{
	display : inline-block;
	height : 0;
	width : 0;
	border-top : 20px solid #139ee0;
	border-right :10px solid transparent;
	border-left : 10px solid transparent;
	margin:auto;
	margin-top:-2px;
	margin-left:10px;
   }
   
/* -------------------------------------------- DOWNLOAD TAB ------------------------------------------------------------------- */

#download_tab {
  color: white;
  background: url("../images/street.png") no-repeat;
  font-weight: lighter;
  min-height: 100%;
  min-width: 500px;
  background-size: cover;
  /* Set up proportionate scaling */
  width: 100%;
  height: 325px;
}
#SAD_hr {
  background-color: white;
  border-color: white;
}
#SAD_comment {
  color: white;
  font-size: 22px;
  -webkit-text-stroke: 1px grey;
  -webkit-text-stroke: inherit;
}
#download_btn {
  padding: 30px;
  margin: auto;
  display: block;
  margin-top: -75px;
  color: white;
  font-size: 20px;
  text-align: center;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: solid 2px white;
}
#download_btn:hover {
  color: #ff9b51;
  border: solid 2px black;
  background-color: rgba(0, 0, 0, 0.35); /* 1.0 - opaque */
  -webkit-text-stroke: 1px #ff9b51;
  transform: sclae(1.5);
}
/* -------------------------------------------- CONTACT US TAB ------------------------------------------------------------------- */

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.separator {
  display: flex;
  flex-direction: column;
}
.form input {
  margin-bottom: 50px;
  color: black;
  border: none;
  border-bottom: solid 1px grey;
  width: 500px;
  font-size: 24px;
}
textarea {
  width: 300px;
  height: 250px;
}
input[type="submit"] {
  background-color: #ff9b51;
  border: none;
  color: white;
  display: block;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 150px;
  width: 350px;
  font-size: 24px;
}
input[type="submit"]:hover {
  background-color: white;
  border: solid 1px black;
  color: #ff9b51;
}
#contact {
  margin-top: 100px;
}

/* -------------------------------------------- FOOTER TAB ------------------------------------------------------------------- */
#footer {
  margin-top:75px;
  background-color: #101010;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  text-indent: 30px;
  height: 75px;
  border-bottom:solid 25px #101010;
}
#logos {
  margin-top: 30px;
  transform: scale(2);
}
#logos p {
  margin-top:10px;
  transform: scale(0.4);
  color: white;
  text-align: center;
}