*{
    padding: 0;
    margin: 0;
}

a:link{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:visited{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* ----------------------------------------------Barre de Navigation---------------------------------------------- */

.navbar{
    display: flex;
    justify-content: flex-end;

    height: 85px;
    background-color: black;

    border-bottom: solid 2px rgb(165, 165, 165);
}

.logo{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: 8%;

    font-size: 50px;
    font-weight: bold;
    font-family: 'nav';
    color: white;
}

span.logo{
    margin-left: 5px;

    font-size: 51px;
    font-weight: lighter;
    font-family: 'text';
    color: #FF8B38;
}

.navbar a{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 55px;
}

.features{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'nav';
    color: rgb(165, 165, 165);
}

.features:hover{
    color: white;
}

.about{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'nav';
    color: rgb(165, 165, 165);
}

.about:hover{
    color: white;
}

.pricing{
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: 'nav';
  color: rgb(165, 165, 165);
}

.pricing:hover{
  color: white;
}

.reviews{
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: 'nav';
  color: rgb(165, 165, 165);
}

.reviews:hover{
  color: white;
}

.contact{
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: 'nav';
  color: rgb(165, 165, 165);
}

.contact:hover{
  color: white;
}


/*------------------ TAB 1 2 3 ----------------------- */

.section_about{
  display: flex;
  justify-content: space-around;

  height: 750px;
  background-color: #f5f5f5;
}

.about_left{
  margin-top: 250px;
}

.right_about{
  margin-top: 200px
}
#btn_tab1, #btn_tab2, #btn_tab3{
  background-color: #101010;
  color:white;
  width:125px;
  height: 120px;
  font-size:20px;
  text-align:center;
  padding-top:15px;
  border:solid 1px white;
  border-bottom:solid 15px black;
}
#btn_tab1:hover, #btn_tab2:hover, #btn_tab3:hover{
  opacity:0.5;
}

h1#btn_tab1{
  font-size: 19px;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
}

#tab1_text{
  margin-top:-50px;
  margin-left:125px;
  position:absolute;
  width:500px;
}

#tab2_text{
  margin-top:-103px;
  margin-left:125px;
  position:absolute;
  width:500px;
}
#tab3_text{
  margin-top:-157px;
  margin-left:125px;
  position:absolute;
  width:500px;
}
/*------------------ Sub list section ----------------------- */
.section_about2 {
  display: flex;
  justify-content: space-around;

  height: 750px;
}

.right_about2 i{
  color: #FF8B38;
}

.left_about2{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left_about2 img{
  width: 120%;
}

.right_about2{
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 30%;
}

.right_about2 h1{
  font-size: 22px;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(46, 46, 46);
}

.right_about2 hr{
  margin-top: 25px;
  margin-bottom: 30px;
  border: solid 1px #ff8b38;
  background-color: #ff8b38;
  width: 60px;
  padding: auto;

}

.right_about2 p{
  color: grey;
  font-size: 14px;
  line-height: 21px;
  font-family: 'Montserrat', sans-serif;
}

.title1{
  display: flex;
  justify-content: flex-start;

  padding-top: 45px;
}

.cercle1{
	height: 35px;
	width: 35px;
	border:solid 3px #FF8B38;
	background-color:transparent;
	border-radius: 50%;
	display: inline-flex;
	align-items: center; 
	justify-content: center;

}

.title1 h1{
  font-size: 19px;
  margin-left: 35px;
}

.title1 p{
  margin-left: -55px;
}


.title2{
  display: flex;
  justify-content: flex-start;

  padding-top: 45px;
}

.cercle2{
	height: 35px;
	width: 35px;
	border:solid 3px #FF8B38;
	background-color:transparent;
	border-radius: 50%;
	display: inline-flex;
	align-items: center; 
	justify-content: center;
}

.title2 h1{
  font-size: 19px;
  margin-left: 35px;
}

.title2 p{
  margin-left: -55px;
}

/*------------------ section3 ----------------------- */

.section_about3{
  display: flex;
  justify-content: space-around;

  height: 550px;

  background-color: #f5f5f5;
}

.left_about3{
  width: 30%;
  margin-top: 125px;
  
}

.left_about3 h1{
  font-size: 22px;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(46, 46, 46);
}

.left_about3 hr{
  margin-top: 25px;
  margin-bottom: 30px;
  border: solid 1px #ff8b38;
  background-color: #ff8b38;
  width: 75px;
  padding: auto;

}

.left_about3 p{
  color: grey;
  font-size: 14px;
  line-height: 21px;
  font-family: 'Montserrat', sans-serif;
}

.right_about3{
  margin-top: 60px;
}

.right_about3 img{
  width: 115%;
}




.top_about{
  margin-top: 80px;
}






/* ----------------------------------------------Première section: HOME---------------------------------------------- */

#home{
    height: 45vw;
    
}
.home_backgroud{
    display: flex;
    justify-content: space-around;

    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;

    background-image: url(../images/page1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    z-index: -10; 
}

.left{
    margin-top: auto;
    margin-bottom: auto;
}

.left h1{
    font-size: 125px;
    font-weight: bold;
    font-family: 'nav';
    color: white;
}

span.logo2{
    margin-left: 5px;

    font-size: 126px;
    font-weight: lighter;
    font-family: 'text';
    color: #FF8B38;
}

.left h3{
    width: 620px;
    margin-top: 10px;

    font-size: 50px;
    letter-spacing: 1px;
    font-weight: lighter;
    font-family: 'nav';
    color: white;
}

.left hr{
    width: 11%;
    height: 2px;
    border: 0px;
    margin-top: 35px;
    margin-bottom: 35px;

    background-color: white;
}

.left p{
    width: 90%;
    height: 80px;
    margin-bottom: 35px;

    font-size: 22px;
    line-height: 25px;
    font-weight: lighter;
    font-family: 'nav';
    color: rgb(165, 165, 165);
}

button.download{
    width: 32%;
    height: 50px;

    font-size: 22px;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: 'nav';
    color: white;

    border: solid 2px white;
    background-color: rgba(255, 255, 255, 0);
}

button.download:hover{
    background-color: white;
    color: black;
}

.right{
    height: 450px;
    width: 450px;
    margin-top: auto;
    margin-bottom: auto;

    background-color: rgba(255, 255, 255, 1);
}

form.connexion{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.boite_h2{
    height: 60px;

    background-color: rgb(243, 243, 243);
    border-bottom: solid 1px rgb(172, 172, 172);

}

.boite_h2 h2{
    padding-top: 15px;

    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: rgb(57, 57, 57);
}

h2 span.free{
    color: #FF8B38;
    font-weight: bold;
}

form.connexion input{
    width: 80%;
    height: 50px;
    margin-left: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
    border: none;

    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(134, 134, 134);
}

form.connexion input:focus{
    outline: none;
    border: solid 2px #FF8B38;

    z-index: 2;
}

input.name{
    margin-top: 30px;
}

input.mail{
    margin-top: 35px;
}

input.password{
    margin-top: 35px;
}

form.connexion hr {
    width: 382px;
    margin-top: -32px;
    margin-left: 30px;


    color: rgba(202, 202, 202, 0.712);
}

button.Get{
    height: 70px;
    margin-top: 69px;

    border: none;

    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: white;

    background-color: #FF8B38 ;
}

button.Get:hover{
    background-color: #fd9c57;
}

button.Get:active{
    background-color: #FF8B38;
}

/* ----------------------------------------------Entre section: Social Media---------------------------------------------- */

.social_home{
    display: flex;
    justify-content: space-around;
    height: 125px;
    border-bottom: solid 2px rgb(134, 134, 134);
}

.social_left{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 100px;

    font-family: 'Montserrat', sans-serif;
}

.social_left h1{
    font-size: 25px;
    color: rgb(57, 57, 57);
}

.social_left p{
    margin-top: 8px;

    font-size: 14px;
    line-height: 20px;
    color: rgb(153, 153, 153);
}

.social_right{
    margin-top: auto;
    margin-bottom: auto;
}

.social_right a{
    margin-right: 100px;

    font-size: 45px;
    color: rgb(165, 165, 165);
}

/* ----------------------------------------------Deuxième section: About---------------------------------------------- */






/* ---------------------------------------- WHY THIS IS AWESOME --------------------------------------------------------------- */
#bottom{
	display:flex;
  justify-content: space-around;
}
.cercle{
	height: 30px;
	width: 30px;
	border:solid 2px #FF8B38;
	background-color:transparent;
	border-radius: 50%;
	display: inline-flex;
	align-items: center; 
	justify-content: center;
	margin-left:46%;
	margin-top:-15px;
	transform: scale(2);
}
.fa-bolt,.fa-keyboard,.fa-lightbulb{
	color:#FF8B38;
}
#section_about4 .global_title{
	margin-top:40px;
  margin-bottom: 20px;
  font-size: 25px;
}

h1.global_title2{
  text-align: center;
  font-size: 40px;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(46, 46, 46);
}


/* -------------------------------------------- PRINCING TAB ------------------------------------------------------------------- */
#princing {
  background-color: #f5f5f5;
  border-top: solid 80px #f5f5f5f5;
}
.global_title {
  text-align: center;
  font-size: 40px;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(46, 46, 46);
}
.global_text_comment {
  text-align: center;
  color: grey;
  font-size: 16px;
  margin-bottom: 100px;
  line-height: 23px;
  font-family: 'Montserrat', sans-serif;
}
.global_hr {
  margin: auto;
  margin-top: 25px;
  margin-bottom: 30px;
  border: solid 1px #ff8b38;
  background-color: #ff8b38;
  width: 75px;
  padding: auto;
}
#princing_columns {
  display: flex;
  justify-content: space-around;

  height: 675px;
  margin-top: 75px;

  font-family: 'Montserrat', sans-serif;
}
#pricing_column1,
#pricing_column2,
#pricing_column3 {
  display: flex;
  flex-direction: column;
  width: 450px;
}
#pricing_column2 {
  margin-top: -45px;
}

.princing_cat {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
  height: 85px;
  background-color: #333333;
  border-bottom: solid 1px #5b5b5b;
  font-weight: bold;
  font-size: 25px;
}
.price {
  border-top: solid 20px #333333;
  background-color: #333333;
  color: #ffffff;
  height: 150px;
  text-align: center;
  border-bottom: solid 5px #ff8b38;
  font-weight: bolder;
}
.price_number {
  font-size: 64px;
}
#pricing_most_pop {
    height: 33px;
    padding-top: 12px;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: #ff8b38;
}
.pricing_features {
  display: flex;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid 1px #aaabae;
  text-align: center;
  color: #aaabae;
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
}
#pricing_features_spe {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    height: 50px;
    border-bottom: solid 1px #aaabae;
    background-color: white;

    text-align: center;
    color: #aaabae;
}
.comment_price {
  color: #7a7a7a;
  font-style: italic;
}

.testi_bubble_and_text {
    width: 300px;
    padding: 7px 15px;
    border-radius: 3px;
    background: #f1f1f1;
    
    font-size: 15px;
    line-height: 21px;
    font-style: italic;
    color: rgb(158, 158, 158);
    font-family: 'Montserrat', sans-serif;
}

#testimonials_tab {
  background-color: #fff;
  border-top: solid 80px #fff;
  margin-top: 15px;
  margin-bottom: 150px;
}

#testi_flex_rows {
  display: flex;
  justify-content: space-around;
}
.testi_name {
  color: #222222;
  font-weight: bold;
  font-size: 25px;
  padding-left: 90px;
  margin-top: -75px;
  font-family: 'Montserrat', sans-serif;
}
.testi_job {
    font-size: 15px;
  padding-left: 95px;
  font-weight: lighter;
  color: grey;
  font-family: 'Montserrat', sans-serif;
}
.testi_avatar {
  margin-top: 20px;
}

.testi_avatar img{
    width: 25%;
}

#triangle{
	display : inline-block;
	height : 0;
	width : 0;
	border-top : 20px solid rgb(240, 240, 240);
	border-right :15px solid transparent;
	border-left : 15px solid transparent;
	margin:auto;
	margin-top:-2px;
	margin-left:20px;
   }
   
/* -------------------------------------------- DOWNLOAD TAB ------------------------------------------------------------------- */

#download_tab {
  color: white;
  background: url("../images/street.png") no-repeat;
  font-weight: lighter;
  min-height: 100%;
  min-width: 500px;
  background-size: cover;
  /* Set up proportionate scaling */
  width: 100%;
  height: 410px;
}

#SAD{
    padding-top: 85px;

    font-size: 40px;
    letter-spacing: 3px;
    font-weight: lighter;
    font-family: 'nav';
    color: white;
}

#SAD_hr {
    width: 100px;
    height: 2px;

    background-color: white;
    border: none;
}
#SAD_comment {
  color: rgb(223, 223, 223);
  font-size: 22px;

}
#download_btn {
    display: block;
    width: 13%;
    height: 55px;
    margin-left: auto;
    margin-right: auto;

    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    color: white;

    border: solid 2px white;
    background-color: rgba(255, 255, 255, 0);
}
#download_btn:hover {
  color: #202020;
  background-color: white;
  border: none;

}
/* -------------------------------------------- CONTACT US TAB ------------------------------------------------------------------- */

.form {
  display: flex;
  justify-content: space-evenly;
}

.separator {
  display: flex;
  flex-direction: column;
}

.form input {
    width: 92%;
    height: 50px;
    margin-left: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
    border: none;

    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(134, 134, 134);
}

input.mail1{
    margin-top: 55px;
}

input.subject{
    margin-top: 55px;
}

.separator hr{
    width: 600px;
    margin-top: -32px;
    margin-left: 30px;


    color: rgba(202, 202, 202, 0.712);
}

.form input:focus{
    outline: none;
    border: solid 2px #FF8B38;

    z-index: 2;
}


textarea {
  width: 600px;
  height: 248px;
  margin-top: -5px;
  margin-left: 30px;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-left: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px rgb(153, 153, 153);

  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(134, 134, 134);
}

textarea:focus{
    outline: none;
    border: solid 2px #FF8B38;

    z-index: 2;
}

input[type="submit"] {
    display: block;
    width: 185px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 110px;
    border: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.9), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    background-color: #FF8B38;

    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

input[type="submit"]:hover {
  background-color: #ff9b51;
}

#contact {
  margin-top: 100px;
}

/* -------------------------------------------- FOOTER TAB ------------------------------------------------------------------- */
#footer {
  margin-top:75px;
  background-color: #101010;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  text-indent: 10px;
  height: 75px;
  border-bottom:solid 25px #101010;
}
#logos {
  margin-top: 35px;
  transform: scale(1.8);
}

#logos a{
    color: rgb(197, 197, 197);
}

#logos p {
  margin-top:10px;
  font-size: 8px;
  color: rgb(153, 153, 153);
  text-align: center;
}